$primary: #1976d2;
$primary-back: #9fc3e7;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

html,
body,
#app {
	height: 100%;
	min-height: 100%;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

a {
	text-decoration: none;
}
.text-through {
	text-decoration: line-through;
}

.cursor-crosshair {
	cursor: crosshair;
}

.primary-back {
	background-color: $primary-back;
}

.rounded-lg {
	border-radius: 16px;
}

.ml-n6 {
	margin-left: -6px;
}

.w-100 {
	width: 100px;
}
.w-200 {
	width: 200px;
}
.w-300 {
	width: 300px;
}
.w-325 {
	width: 325px;
	max-width: 325px;
}
.w-400 {
	width: 400px;
}
.w-500 {
	width: 500px;
}
.w-545 {
	width: 545px;
}
.w-600 {
	width: 600px;
}
.w-1000 {
	width: 1000px;
	max-width: 1000px !important;
}
.w-1200 {
	width: 1200px;
	max-width: 1200px !important;
}
